body {
	font-family: Calibri;
	color: #8d817b;
}

h1 {
	font-weight: bold;
	font-size: 14pt;
}

iframe {
	width: 320px;
	height: 176px;
	padding-left: 0!important;
	padding-right: 0!important;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 0px 0px 5px 0px grey;
}

img.examples {
	padding-left: 0;
	padding-right: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	h1 {
	font-size: 18pt;
	}
	
	p {
		font-size: 14pt;
	}
	
	iframe {
	width: 640px;
	height: 353px;
	padding-left: 0!important;
	padding-right: 0!important;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 0px 0px 5px 0px grey;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	h1 {
	font-size: 24pt;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	h1 {
	font-size: 30pt;
	}
}

img {
	padding: 20px 0;
}